body {
    font-family: 'Arial';
    background-image: url('../images/bg2.png');
    background-color: #1e77f4;
    color: #fff;
    line-height: 1.5;
}

.whole-thing {
    height: 100vh;
    border: 3rem solid #000;
}

.tv-wrapper {
padding: 0 2rem;
}

.text-shadow__red {
    text-shadow: #ea1717 -5px 0px 9px;
}

.text-shadow__black {
    text-shadow: #000 -5px 0px 9px;
}

.text-colour--white {
    color: #fff;
}

.text-colour--creamy-orange {
    color: #d2b036;
}

.header {
    word-spacing: 2rem;
}

hr {
    border-top: 5px solid #a62356;
    height: 0;
    margin: 0 0 14px;
}

.title {
    text-align: center;
    font-size: 4em;
    margin: 1rem 0;
    letter-spacing: 2.5rem;
}

a {
    /* color: #fff; */
}

a:visited {
    color: #fff;
}

a:hover {
    border-bottom: 2px solid #fff;
    text-decoration: none;
    color: #eee;
    background: #a62356;
}

.content {
    font-size: 4em;
    padding: 2rem 0;
}

.section {
    margin-bottom: 2rem;
}

.section--two-ply {
    font-size: 3em;
}

.section--toilet-tissue {
    font-size: 8em;
    line-height: 1;
    letter-spacing: 17px;
}


.section--rnr-international {
    font-size: 4em;
    letter-spacing: 4px;
}

.section--address {
    font-size: 2.5em;
    letter-spacing: 4px;
    word-spacing: 7px;
}

.section--telephone {
    font-size: 3em;
    text-shadow: #ff0101 -2px 0px 5px;
    letter-spacing: 5px;
    word-spacing: 5px;
}

.hide {
    display: none;
}

button {
    margin-top: 10px;
    color: #fff;
    padding: 5px 12px;
    border-radius: 2px;
    border: 0;
    background: #a62455;
    margin: 1rem;
    font-weight: bold;
}

.tribute__button {
    background: transparent;
    border: 1px solid #ddd;
}

button:hover,
.button__currently-playing {
    background: #d2b036;
    transform: scale(1.05);
    transition: 200ms;
}
