html {
    height: inherit;
}

body {
    background-image: url('../images/bg.png');
    background-color: blue;
    color: #fff;
}

.title {
    text-align: center;
    font-size: 6em;
}

hr {
    border-width: 5px;
    margin: 40px;
}
